* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    background: #003366;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}
.logo {
    color:white;
    font-size: 24px;
    font-weight: bold;
}
.navbar ul {
    display: flex;
    list-style: none;
}
.navbar ul li {
    margin: 0 10px;
}
.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}
#click, .menu-btn {
    display: none;
}
@media (max-width: 850px) {
    .menu-btn {
        display: block;
        color: white;
        border: 1px solid white;
        padding: 5px 10px;
    }
    .navbar ul {
        position: absolute;
        top: 70px;
       right: -100%; 
        width: 60%; 
        background: #003366;
        flex-direction: column;
        transition: 0.3s;
        padding: 20px 0;
    }

    .navbar ul li {
        margin: 10px 0;
        text-align: center;
    }
    #click:checked ~ ul {
        right: 0; 
    }
}
